<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>top page</title>
    <!-- 自作のCSSファイルのみでデザインする場合 -->
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="top-page">
  <!-- ヘッダー -->
  <header class="header">
    <div class="header-inner">
      <h1 class="header-title">My Portfolio</h1>
      <!-- <button type="button" class="header_btn">ログイン</button> -->
      <form th:action="@{/logout}" method="post">
        <button type="submit" class="header_btn">ログアウト</button>
      </form>    
    </div>
  </header>

  <!-- メインコンテンツ -->
  <main class="main-container">
    <div class="form-wrapper ">
      <!-- プロフィールセクション -->
      <section class="profile-section">
        <!-- プロフィールセクション -->
        <div class="profile-user">
          <div class="profile-icon">
            <img th:if="${user.avatarImage != null and user.avatarImage != ''}" th:src="@{${user.avatarImage}}" />
          </div>
          <div class="profile-name-box">
            <span th:text="${user.name}">ユーザー名</span>
          </div>    
        </div>
         <!-- 自己紹介セクション -->
        <div class="profile-about">
          <h2 class="profile-title">自己紹介</h2>
          <p class="profile-text" th:text="${user.profile}"></p>
            <!-- <button type="button" class="profile-btn" onclick="location.href='/users/edit'">自己紹介を編集する</button> -->
            <button type="button" class="profile-btn" th:onclick="|location.href='@{/users/edit(id=${user.id})}'|">自己紹介を編集する</button>
          <!-- </form> -->
        </div>
      </section>
      <!-- チャートセクション -->
      <section class="chart-section">
        <!-- ここにチャートが入ります -->
      </section>
    </div>    
  </main>

  <!-- フッター -->
  <footer class="footer">   
    <div class="footer-inner">
      <h5 class="footer-title">portfolio site</h5>
    </div>
  </footer>
</body>
</html>